#LearnerHeader {
    align-items: center;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    background: 0.5;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 13;
}

.LearnerHeader-list-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.LearnerHeader-logo_notifications {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.LearnerHeader-logo {
    cursor: context-menu;
    font-size: 32px;
    font-weight: bold;
}
.LearnerHeader-logo a{
    color: #126180;
    text-decoration: none;
}

.LearnerHeader-camera_more {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.LearnerHeader-camera_more {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

/* Icons */
.LearnerHeader-HiVideoCamera {
    color: #126180; /*#5072a7;*/
    cursor: pointer;
    margin-right: 2rem;
}


@media only screen and (max-width: 900px) {
    .LearnerHeader-notification-dropdown {
        background-color: #ffffff;
        border: 2px solid #126180;
        cursor: context-menu;
        height: 100%;
        left: 0rem;
        overflow-y: auto;
        position: fixed;
        width: 100%;
        animation: slide .5s forwards;
    }
    @keyframes slide {
        0% {
          left: -4rem;
        }
        100% {
          right: 0;
        }
    }
}