#LearnerHeader {
    align-items: center;
    background: #fff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    display: flex;
    background: 0.5;
    padding: 0.5rem;
    position: fixed;
    width: 100%;
    z-index: 13;
}

.LearnerHeader-list-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.LearnerHeader-logo_notifications {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}
.LearnerHeader-logo {
    cursor: context-menu;
    font-size: 32px;
    font-weight: bold;
}
.LearnerHeader-logo a{
    color: #126180;
    text-decoration: none;
}

/* notification dropdown*/
.LearnerHeader-notification-dropdown {
    background-color: #ffffff;
    border: 2px solid #126180;
    cursor: context-menu;
    height: 100%;
    left: 0rem;
    overflow-y: auto;
    position: fixed;
    width: 50vh;
    animation: slide .5s forwards;
    
}
@keyframes slide {
    0% {
      left: -4rem;
    }
    100% {
      right: 0;
    }
}
.LearnerHeader-notification-label_cross {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.LearnerHeader-notification-label {
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
}
.LearnerHeader-notification-close {
    color: #000000;
    margin: 10px;
}
.LearnerHeader-notification-el {
    border-top: 2px solid #126180;
    border-bottom: 2px solid #126180;
    background: #ffff;
    color: #000000;
    height: auto;
    margin: 10px;
}
.LearnerHeader-notification-title {
    padding-top: 10px;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
}
.LearnerHeader-notification-description {
    font-size: 15px;
    margin-bottom: 10px;
    text-align: center;
}
.LearnerHeader-notification-date {
    font-size: 14px;
    margin-bottom: 5px;
}

.LearnerHeader-camera_more {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

.LearnerHeader-camera_more {
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
}

/* more dropdown*/
.LearnerHeader-more-dropdown {
    background-color: #ffffff;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    height: auto;
    margin-right: 1rem;
    overflow: hidden;
    position: fixed;
    right: 0;
    width: 30vh;
}
.LearnerHeader-more-drop-el {
    align-items: center;
    display: flex;
    background: #ffffff;
    border-bottom: 2px solid #126180; 
    color: #000000;
    cursor: pointer;
    font-size: 18px;
    font-weight: normal;
    padding: 1rem;
    width: 30vh;
}
.LearnerHeader-more-drop-el:hover {
    background: #126180;
    border-bottom: 2px solid #ffffff;
    color: #ffffff;
}

/* Icons */
.LearnerHeader-MdNotifications {
    color: #126180; /*#5072a
    left: 0;7;*/
    cursor: pointer;
    margin-left: 2rem;
}
.LearnerHeader-HiVideoCamera {
    color: #126180; /*#5072a7;*/
    cursor: pointer;
    margin-right: 2rem;
}
.LearnerHeader-MdMoreVert {
    color: #126180; /*#5072a7;*/
    cursor: pointer;
    margin-right: 2rem;
}

@media only screen and (max-width: 900px) {
    .LearnerHeader-notification-dropdown {
        background-color: #ffffff;
        border: 2px solid #126180;
        cursor: context-menu;
        height: 100%;
        left: 0rem;
        overflow-y: auto;
        position: fixed;
        width: 100%;
        animation: slide .5s forwards;
    }
    @keyframes slide {
        0% {
          left: -4rem;
        }
        100% {
          right: 0;
        }
    }
}