#LearnerPages {
    color: white;
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.learnerPagesContent {
    left: 0;
    right: 0;
    margin-left: 6rem;
    margin-top: 5rem;
    margin-bottom: auto;
    position: absolute;
    z-index: 9;
}