.search-container {
    align-items: center;
    border: 1.5px solid #000;
    border-radius: .5rem;
    display: flex;
    height: 2rem;
    margin-left: 8rem;
    margin-top: 1.5rem;
    width: 15rem;
}
.search {
    border: 0;
    display: flex;
    outline: none;
    padding: .5rem;
    width: 85%;
}
.AiOutlineSearch {
    color: #000000;
}