#Pages {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.PagesContent {
    left: 0;
    right: 0;
    margin-top: 5rem;
    margin-bottom: auto;
    position: absolute;
}
.Page-back-btn {
    color: #1b1b1b;
    cursor: pointer;
    border: 1px solid #1b1b1b;
    position: relative;
    border-radius: 50px;
    margin-left: 5.5rem;
    padding: .3rem;
}
.PageCenteredTitle {
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 2rem;
    text-transform: capitalize;
    text-align: center;
}
.PageTitle {
    color: #000000;
    font-size: 25px;
    font-weight: normal;
    letter-spacing: 2px;
    margin-top: 2rem;
    text-transform: capitalize;
    text-align: center;
}

.Page-top-left-logo {
    cursor: context-menu;
    font-size: 32px;
    font-weight: bold;
    margin-left: 2rem;
}
.Page-top-left-logo a{
    color: #126180;
    text-decoration: none;
}

.cards-list {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: center;
    margin-top: 2rem;
    width: 80%;
}
.blue-card {
    background-color: #4568DC;
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
    height: 5rem;
    transition: transform .2s;
    width: 13rem;
}
.blue-card:hover {
    cursor: pointer;
    transform: scale(1.05);
}
.blue-card-centered-txt {
    align-items: center;
    bottom: 0;
    color: #ffffff;
    display: flex;
    font-size: 16px;
    justify-content: center;
    letter-spacing: 2px;
    margin: auto;
    text-transform: uppercase;
    top: 0;
}

.radius-main-card {
    background-color: #e30022;
    border-radius: 10px;
    cursor: pointer;
    height: 12rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform .2s;
    width: 11rem;
}
.radius-main-card:hover {
    transform: scale(1.05);
}
.radius-card {
    background-color: #126180;
    border-radius: 10px;
    cursor: pointer;
    height: 12rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    transition: transform .2s;
    width: 11rem;
}
.radius-card:hover {
    transform: scale(1.05);
}
.radius-card-top-right {
    font-size: 13px;
    background-color: #537989;
    border-radius: 50px;
    color: #ffffff;
    float: right;
    margin: .5rem;
    padding: .3rem;
}
.radius-card-img {
    border-radius: 50px;
    background: #000;
    border: 2px solid #ffffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    height: 4rem;
    width: 4rem;
}
.radius-card-title {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 5rem auto auto auto;
    text-align: center;
    text-transform: uppercase;
    
    justify-content: center;

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    width: auto;
}
.radius-card-name-surname {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 2rem auto auto auto;
    text-transform: capitalize;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    width: 8rem;
}
.radius-card-name {
    color: #ffffff;
    font-size: 16px;
    letter-spacing: 2px;
    margin: 2rem auto auto auto;
    text-align: center;
    text-transform: uppercase;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    width: 8rem;
}
.radius-card-mark {
    
    background: transparent;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #fff;
    color: #ffffff;
    display: flex;
    outline: 0;
    font-size: 40px;
    letter-spacing: 2px;

    margin: .2rem auto auto auto;
    text-align: center;
    text-transform: uppercase;
    
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    
    width: 8rem;
}
.radius-card-mark-btn {
    align-items: center;
    border: 0;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 1.5rem;
    justify-content: center;
    margin: 1.5rem auto auto auto;
    width: 80%;
}
.radius-card-sm-text {
    color: #cccccc;
    font-size: 12px;
    text-transform: capitalize;
    margin-right: 1rem;
    float: right;
}
.radius-card-icon {
    color: #ffffff;
    margin-left: 7.5rem;
    margin-top: 2rem;
    filter: brightness(.9);
    position: absolute;
}
.radius-card-delete-icon {
    background-color: #537989;
    border-radius: 50px;
    color: #ffffff;
    float: right;
    margin: .5rem;
    padding: .3rem;
    z-index: 99999;
}